.figure1 {
  width: 200px;
  height: 200px;
  background-color: tomato;
  text-align: center;
}
.figure2 {
  text-align: center;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: tomato;
}
